<!DOCTYPE html>
<html lang="UTF-8">
<!-- 개발버전, 도움되는 콘솔 경고를 포함 -->
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.2/dist/vue.js"></script>
<!-- 상용버전, 속도와 용량이 최적화 됨 -->
<!-- <script src="https://cdn.jsdelivr.net/npm/vue"></script> -->

<head>
    <meta charset="UTF-8">
    <title>Vue.js</title>
</head>
<body>
<div v-bind:id = "app">{{ message }}</div>

<div id="app-2">
    <span v-bind:title="message">
        내 위에 잠시 마우스를 올리면 동적으로 바인딩 된 title을 볼 수 있습니다!
    </span>
</div>

<div id="app2">
    <a v-if="ifFlag">IF</a>
    <ul>
        <li v-for="system in systems">{{ system }}</li>
    </ul>
    <p v-show="showFlag">SHOW</p>
    <h5 v-bind:id="uid">UID</h5>
    <button v-on:click="popupAlert">경고 버튼</button>
    <button v-on:click="ifFlagSwitch">IF 바꾸기 버튼</button>
    <button v-on:click="showFlagSwitch">Show 바꾸기 버튼</button>
</div>

<script>
    new Vue({
        el: '#app2',
        data : {
            ifFlag : true,
            showFlag  : true,
            systems : ['android', 'ios', 'window'],
            uid : 10
        },
        methods :{
            popupAlert: function () {
                return alert('경고!!!');
            },
            ifFlagSwitch: function() {
                this.ifFlag = !this.ifFlag;
            },
            showFlagSwitch: function() {
                this.showFlag = !this.showFlag;
            }
        }
    });
</script>



<script type="text/javascript">
    var app = new Vue({
        el: '#app',
        data: {
            message: 'hello Vue@!@!!'
        }
    })

    var app2 = new Vue ({
        el: '#app-2',
        data: {
            message: '이 페이지는 ' + new Date() + ' 에 로드 되었습니다.'
        }
    })
</script>

<!-- computed는 값이 변경되는걸 추적하는 그 자체의 기능이 필요할 때 사용 -->
<div id="app3">
    <input v-model="message">
    <p>{{ changeMessage }}</p>
</div>
<script>
    new Vue({
        el:'#app3',
        data : {
            message : 'Hello Vue.js',
            printMessage: 'printMessage'
        },
        computed: {
            changeMessage: function() {
                this.printMessage = this.message;
                console.log("computed > printMessage 값이 바뀝니다. : ", this.printMessage);
                return this.printMessage;
            }
        }
    });
</script>

<!-- watch는 데이터 변경이후 특정 메소드 호출이나 처리가 필요한 경우 많이 사용-->
<div id="app4">
    <input v-model="message">
    <p>{{ printMessage }}</p>
</div>
<script>
    new Vue({
        el:'#app4',
        data : {
            message : 'Hello Vue.js',
            printMessage: 'printMessage'
        },
        watch: {
            message: function(data) {
                this.printMessage = this.message;
                console.log("watch > printMessage 값이 바뀝니다. : ", this.printMessage);
            }
        }
    });
</script>
</body>
</html>